.navbar {
    margin-bottom:0 !important;
    border:0 !important;
    background-color: black;
    border-radius: 0px;
    width: 100% !important;
}

.nav li a {
    color: #acac86 !important;
}

.nav li a:hover {
    color: #5b5b3e !important;
}

.navbar-brand {
    color: white !important;
}

.navbar-header {
    display: flex;
    width: 100%;
}

.jumbotron {
    background: #e7e7e7 !important;

}

.smallJumbotron {
    background: #e7e7e7 !important;
    padding-bottom: 0px;
    /*border-bottom: 1px solid gray;*/
}

.smallJumbotron h1 {
     padding-top: 20px;
     margin-left: 30px;
 }

.smallJumbotron p {
    margin-left: 30px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
    margin-left: 0px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*This needs to be changed*/
.pullRight {
    margin-left: 640px !important;
}

.container {
    margin: 0px 0px 0px 30px !important;
    width: 100%;
    height: 100%;
}

/*.home {*/
    /*margin: 60px;*/
/*}*/

/*.basics {*/
    /*margin: 60px;*/
/*}*/

/*.styles {*/
    /*margin: 60px;*/
/*}*/

/*.projects {*/
    /*margin: 60px;*/
/*}*/

/*.state {*/
    /*margin: 60px;*/
/*}*/

.home, .basics, .styles, .projects, .state, .props {
    margin: 40px 60px 60px 60px;
}


.homeBox, .bootstrapBox, .jsxexBox {
    width: 320px;
    padding: 10px;
    border: 3px solid gray;
    margin: 0;
    background-color: #f5f5f0;
}

.styletagBox {
    width: 680px;
    padding: 10px;
    border: 3px solid gray;
    margin: 0;
    background-color: #f5f5f0;
}

.tryHtmlBox, .tryJSBox {
    width: 650px;
    padding: 10px;
    border: 3px solid gray;
    margin: 0;
    background-color: #f5f5f0;
}