.navbar {
    margin-bottom:0 !important;
    border:0 !important;
    background-color: black;
    border-radius: 0px;
    width: 100% !important;
}

.nav li a {
    color: white !important;
}

.nav li a:hover {
    color: grey !important;
}

.navbar-brand {
    color: white !important;
}

.navbar-header {
    display: flex;
    width: 100%;
}

.jumbotron {
    background: #e7e7e7 !important;
}

.smallJumbotron {
    background: #e7e7e7 !important;
    /*padding-top: 40px;*/
    padding-bottom: 0px;
    /*height: 70px;*/
}

.smallJumbotron h1 {
    padding-top: 20px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
    margin-left: 0px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*This needs to be changed*/
.pullRight {
    margin-left: 640px !important;
}

.container {
    /*margin-right: 0px !important;*/
    /*margin-left: 0px !important;*/
    margin: 0px !important;
    width: 100%;
    height: 100%;
}

.home {
    margin: 30px;
}

.basics {
    margin: 30px;
}

.styles {
    margin: 30px;
}

.tables {
    margin: 30px;
}

.state {
    margin: 30px;
}

.props {
    margin: 30px;
}


.homeBox, .bootstrapBox {
    width: 320px;
    padding: 10px;
    border: 3px solid gray;
    margin: 0;
}

.styletagBox {
    width: 680px;
    padding: 10px;
    border: 3px solid gray;
    margin: 0;
}